{% extends "layout.html.j2" %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="centered-content">

    <h2>Flask Dice Roller Exercise</h2>

    <p>
        This project is a small sample application written in python using the Flask framework to learn and explore the abilities of the framework.
    </p>

    <button onclick="location.href='/dices'">Check out all the cool dice</button>

</div>

{% endblock %}

{% block author%}
    Rita Jane Marques de Lima
{% endblock %}